
8_backMatter/bibliography\.bib~

*.log

PhDthesis_Droghini\.toc

PhDthesis_Droghini\.synctex\.gz

PhDthesis_Droghini\.out

PhDthesis_Droghini\.aux

PhDthesis_Droghini\.lof

PhDthesis_Droghini\.lot

*.out

*.aux

*.gz

*.xmpi

*.ps

*.dvi

*.snm

*.toc
